.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .card-wrapper {
    width: 40rem;
  }
  .quarter-size {

    width: 10%;
  }
  .card-img-wrapper {
    display: flex;
    justify-content: center;
  }
  .highlight {
    color: blue
  }
  
    
    